@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
input {
  font-family: 'Arial';
  font-size: 16px;
  background-color: blanchedalmond;
}

header nav ul {
  color: #676406;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

header a,
header a:visited {
  text-decoration: none;
  color: white;
}

a,
a:visited {
  text-decoration: none;
  color: #676406;
}

button.button {
  background-image: url(https://thumbs.dreamstime.com/b/banana-peel-pattern-14693085.jpg);
  background-color: #eae66c;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #676406;
  color: #676406;
}

button.button:active {
  background-color: lightblue;
}

input,
textarea {
  border: 1px solid #676406;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td,
th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  color: #676406;
  margin: 4em auto;
  padding: 4em;
  min-width: 300px;
  max-width: 800px;
  background-color: white;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  color: #676406;
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

header {
  background-image: url(https://thumbs.dreamstime.com/b/banana-peel-pattern-14693085.jpg);
  padding-top: 1em;
  padding-bottom: 1em;
}